<%= form_for([:admin, @project]) do |f|%>
<div class="row">
	<div class="col-sm-6">
		<div class="field">
			<%= f.text_field :title, placeholder: "title", required: true %>
		</div>
		<div class="field">
			<%= f.text_area :description, placeholder: "description", required: true, rows: "6" %>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="field">
			<%= f.text_field :source, placeholder: "source code's link", required: true %>
		</div>
		<div class="field">
			<%= f.text_field :link, placeholder: "project's link", required: true %>
		</div>
		<div class="field">
			<%= f.file_field :image %>
		</div>
		<div class="field">
			<%= f.submit %>
		</div>
	</div>
</div>
<% end %>